input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

p{
  width: 140px;
  height: 30px;
  border: 1px solid black;
  color: black;
  
}
/* input[type=number] {
  -moz-appearance: textfield;
} */